<!doctype html>
<html lang="en" prefix="og: http://ogp.me/ns#">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>BartJS</title>
  <meta name="description" content="BartJS - Javascript programmering Meetup i Trondheim">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/png" href="/favicon.png">


  <link href='http://fonts.googleapis.com/css?family=Exo+2' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="static/bundle.css" />

  <meta property="og:title" content="BartJS" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="http://bartjs.github.io/" />
  <meta property="og:image" content="http://bartjs.github.io/assets/logo.png" />
  <meta property="og:description" content="BartJS - Javascript programmering Meetup i Trondheim" />
</head>
<body>
  <div class="wrap">
    <header class="main-header">
      <h1>
        <a href="index.html"><object data="assets/logo.svg" id="svg" type="image/svg+xml">logo</object></a>
      </h1>
    </header>
    <header class="scrolled-down">
      <h1><a href="index.html">
        <span>BartJS</span>
        <object data="assets/logo.svg" type="image/svg+xml">logo</object>
        <span>Trondheim</span>
      </a></h1>
    </header>
    <section class="content-wrapper">
      <article class="main-article">
        <h2>Hva er Bart.JS?</h2>
        <p>Det er en nyoppstartet Meetup i Trondheim som konsentrerer seg om all-things Javascript.</p>
        <h3>Neste meetup er 2. april 2014</h3>

        <h4>"wat" explained og WebSockets</h4>
        <p>Agenda for dagen</p>
        <ul>
          <li><a href="#wat">"wat" explained</a> v/<a href="https://twitter.com/petergombos">Péter H Gombos</a> <small>(30 min)</small></li>
          <li><a href="#ws">WebSockets og Real-Time Web</a> v/<a href="https://twitter.com/kimjoar">Kim Joar Bekkelund</a> <small>(30 min)</small></li>
          <li><a href="#es6">ES6 Tema</a> v/<a href="">Deg?</a> <small>(15 min)</small></li>
        </ul>

        <p>Meta-informasjon</p>
        <ul>
          <li>Plassering: Norges Kreative Høyskoles lokaler i Kjøpmannsgata 65</li>
          <li>Når: 18:30</li>
          <li>Maks antall påmeldte: 50 stk </li>
        </ul>

        <div class="details">
          <h4>Detaljert informasjon</h4>

          <h5 id="wat">"wat" explained v/<a href="https://twitter.com/petergombos">Péter H Gombos</a> <small>(30 min)</small></h5>

          <p>Wat er en lightning talk som prøver å belyse sider av JavaScript som er litt merkelige. ‘wat, explained.’ vil forklare hvorfor denne merkelige oppførselen er forventet, og hvorfor du ikke bare skal anta ting i JavaScript.</p>


          <h5 id="kart">WebSockets og Real-Time Web v/<a href="https://twitter.com/kimjoar">Kim Joar Bekkelund</a> <small>(30 min)</small></h5>
          <p>Lenge har løsningen for å hente data fra en tjener vært å spørre etter den med bruk av AJAX. Nå i moderne tider, derimot, har vi WebSockets som kan tillate tjenere å pushe informasjon til klienter uten at de spør eksplisitt om det. I denne presentasjonen vil det bli teknologien back WebSockets bli gjennomgått og vi vil se hvordan arkitekturen burde omstilles for å bruke teknologien på best måte. Vi vil også etablere hvor klart WebSockets er til å ta i bruk i produksjon. Lovnader om live demo er gitt!</p>


          <h5 id="promises">ES6 Tema v/<a href="">Deg?</a> <small>(15 min)</small></h5>
          <p>Vi har enda ikke spikret en lyntale om ECMAScript 6, så om du er interessert i å snakke om f.eks arrows, proxies, klasser, template strings eller lignende, er det bare til å ta kontakt så fikser vi det. </p>
        </div>

        <p>Dersom du er interessert i å ta delta eller har idéer til BartJS kan dere ta kontakt ved hjelp av noen av de nevnte sosiale medier.</p>
      </article>
      <aside>
        <ul class="navigation">
          <li><a href="presentations.html"><i class="fa fa-laptop"></i>Tidligere presentasjoner</a></li>
        </ul>

        <ul class="fa-ul">
          <li><a href="https://github.com/bartjs"><i class="fa-li fa fa-github"></i>@bartjs</a></li>
          <li><a href="http://twitter.com/_bartjs"><i class="fa-li fa fa-twitter"></i>@_bartjs</a></li>
          <li><a href="mailto:bartjs.trh@gmail.com"><i class="fa-li fa fa-envelope"></i>bartjs.trh<small>@gmail.com</small></a></li>
          <li><a href="http://meetup.com/bartjs"><i class="fa-li fa fa-users"></i>Meetup</a></li>
        </ul>

        <h4>Kommende events</h4>
        <div class="event-list">

        </div>
      </aside>
      <div class="footer-space"></div>
    </section>
  </div>
  <div class="member-list">
    <ul id="members"></ul>
  </div>

  <script type="text/x-template" id="event-template">
  <article>
    <header>
      <h5><a href="<%= event_url %>"><%= name %></a></h5>
      <p class="rsvp-stats <%= (waitlist_count > 0) ? 'full' : '' %>">
        <span class="yes"><%= yes_rsvp_count %></span>
        <span class="seperator">/</span>
        <span class="total"><%= rsvp_limit %></span>
        <span class="rest">(<%= (rsvp_limit-yes_rsvp_count) %> ledige
          <% if(waitlist_count > 0) { %>
            , <%= waitlist_count %> i venteliste
          <% } %>)
        </span>
      </p>
    </header>
  </article>
  </script>
  <script src="static/bundle.js"></script>
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-46346506-1', 'bartjs.github.io');
    ga('send', 'pageview');

  </script>
</body>
</html>