@import "style/reset.less";
@import "style/helpers/elements.less";
@import "style/helpers/backgrounds.less";
@import "style/helpers/mixins.less";
@import "style/vendors/fontawesome/font-awesome.less";

@arrow-size: 50px;
@max-width: 900px;
@max-width-header: 480px;
@black: #323330;
@white: #ffffff;
@member-height: 60px;

* {
    box-sizing: border-box;
}
html, body {
    height: 100%;
}

.wrap {
    .height-minus(100%, @member-height);
}

body {
    .grey-gradient();
    font-family: 'Exo 2', sans-serif;
    font-size: 18px;
    color: @black;
}

h2, h3, h4 {
    margin-bottom: 10px;
}

h3 {
    font-size: 1.3em;
}

h3, h4 {
    margin: 20px 0;
}

ul {
    list-style-position: inside;
    margin: 10px 0;
}

p {
    margin: 10px 0;

}

.main-header, .scrolled-down {
    .js-yellow();

    padding: 50px 10px 50px;
    position: relative;
    margin-bottom: @arrow-size;

    h1 a {
        color: @black;
        text-decoration: none;
    }

    object {
        .drop-shadow();
        .rounded(25px);
        border: 25px solid @black;

        display: block;
        margin: 0 auto;
        width: 450px;
    }

    &:after {
        content: " ";
        display: block;
        position: absolute;
        padding: 0;
        margin: 0 0 0 -@arrow-size;


        top: 100%;
        left: 50%;

        border: @arrow-size solid transparent;
        border-top-color: @color-yellow;
    }
}

.scrolled-down {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 10px;
    z-index: 1000;

    top: -30px;
    .opacity(0);
    .transition(0.1);

    span {
        .width-minus(50%, 30px);
        font-size: 2em;
        line-height: 1em;
        display: inline-block;
    }

    span:first-child {
        text-align: right;
    }

    object {
        display: inline-block;
        height: 30px;
        width: 30px;
        border: 4px solid @black;
        .rounded(2px);
    }

    &.scroll-header-visible {
        top: 0;
        .opacity(1);
        .transition();
    }

    &:after {
        margin: 0 0 0 (-@arrow-size / 2);
        border-width: @arrow-size / 2;
    }
}

.content-wrapper {
    width: 60%;
    margin: 80px auto 60px;
    .clearfix();

    padding-bottom: @member-height;

    .main-article {
        width: 60%;
        float: left;
        padding-right: 30px;

        &.full-width {
            width: 100%;
            float: none;
        }

        h2 {
            font-size: 1.4em;
        }

        p {
            text-align: justify;
        }


        .presentations {
            .clearfix();

            & > section {
                .clearfix();
                margin-bottom: 10%;
            }

            article {
                float: left;
                width: 50%;

                hgroup {

                    h3 {
                        display: table-cell;
                        vertical-align: bottom;
                        height: 70px;

                        margin-bottom: 0;
                    }

                    h4 {
                        margin: 0 0 10px;
                        font-style: italic;
                    }
                }

                .external-iframe {
                    position: relative;

                    .ratio {
                        width: 100%;
                        height: auto;
                        visibility: hidden;
                    }

                    iframe {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height:100%;
                    }
                }
                &:nth-child(odd) {
                    padding-right: 10px;
                    clear: both;
                }
                &:nth-child(even) {
                    padding-left: 10px;
                }

                .button-group a {
                    .button(@color-yellow, 20%);
                    text-decoration: none;
                    color: @black;
                    width: 50%;
                    float: left;
                }
            }
        }
    }

    aside {
        width: 40%;
        float: right;

        ul.navigation {
            list-style-type: none;

            li a {
                .button();
                i {
                    margin-right: 15px;
                }
            }
        }

        ul {
            font-size: 1.5em;

            a {
                color: #000;
                text-decoration: none;

                i {
                    margin-top: 5px;
                }

                &:hover {
                    color: #888;

                    small {
                        color: #999;
                    }
                }

                small {
                    font-size: 0.7em;
                    color: #444;
                }
            }

        }

        .event-list {
            header {
                .js-yellow();
                padding: 0;
                margin-bottom: 20px;

                .rsvp-stats {


                    color: @white;
                    font-style: bold;
                    text-align: right;
                    margin: 0;
                    margin-top: -15px;
                    padding: 0 20px 20px;

                    .yes {
                        font-size: 2.5em;
                    }

                    &.full .yes {
                        color: #5872A8;
                    }

                    .seperator, .total {
                        color: @black;
                        font-size: 1.8em;
                    }

                    .rest {
                        display: block;
                        margin-top: -15px;
                        color: @black;
                    }
                }

                a {
                    padding: 20px 20px 0;
                    color: @black;
                    text-decoration: none;
                    display: block;

                    &:hover {
                        color: #666;
                    }
                }
            }
        }
    }
}

.details {
    h5 {
        padding-top: 80px;
        margin-top: -30px;
    }
}

.member-list {

    position: relative;
    height: @member-height;
    margin-top: -@member-height;
    overflow: hidden;
    ul {
        width: 4000px;
        list-style-type: none;
        padding: 0;
        margin: 0;
        display: block;
        .clearfix();
        li {
            height: @member-height;
            float: left;

            img {
                display: block;
                max-height: @member-height;
                .grayscale();
                .opacity(0.3);
                .transition-on();

                &:hover {
                    filter: none;
                    -webkit-filter: none;
                    .opacity(0.9);
                }
            }
        }
    }
}


@media only screen and (max-width: @max-width) {
    .main-header object {
        width: 90%;
        max-width: 450px;
    }
    .content-wrapper {
        width: 90%;

        .main-article {
            float: none;
            padding: 0;
            width: 100%;


        }
        aside {
            margin-top: 40px;
            float: none;
            width: 100%;
        }
    }
}

@media only screen and (max-width: @max-width-header) {
    .scrolled-down {
        object {
            display: block;
            width: 25px;
            height: 25px;
            border-width: 2px;
        }
        span {
            display: none;
        }
    }

    .content-wrapper .full-width {

        .presentations {
            .clearfix();

            article {
                float: none;
                width: 100%;
                padding: 0 !important;

                margin-bottom: 20px;
            }
        }
    }
}
